<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Todo List</title>
    </head>
    <body>
        <h1>TODOS FOR TODAY:</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>ACTION</th>
                <th>DONE</th>
                <th>URGENT</th>
            </tr>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getId()}"></td>
                <td th:text="${todo.getTitle()}"></td>
                <td th:text="${todo.isDone()}"></td>
                <td th:text="${todo.isUrgent()}"></td>
            </tr>
        </table>
    </body>
</html>