body {
    background-color: limegreen;
    margin: 10%;
}

table {
    border-collapse: collapse;
    align-self: auto;
    margin: auto;
    height: 320px;
    max-width: 600px;
  }

thead {
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 35px;
    background-color: yellowgreen
}

th, td {
    padding: 25px;
    text-align: left;
    width: 300px;
}

tbody {
    color: peru;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: powderblue;
}

table td, table th {
    border: 1px solid purple;
  }

table tr:first-child th {
    border-top: 0;
    border-bottom: 3px solid crimson;
  }

table tr:last-child td {
    border-bottom: 0;
  }
  
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
  }

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
  }

  tbody tr:nth-child(odd) {
      background-color: palegreen;
  }

