<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8"/>
            <link rel="stylesheet" href="style.css"/>
            <title>Bank Accounts</title>
        </head>
        <body>
            <h1>Bank Accounts</h1>
            <div class="loginForm">
                <form action="#" th:action="@{show_accounts}" method="post" th:object="${BankAccount}">
                    <label for="account_name">Name: </label>
                    <input  type="text" id="account_name" th:/><br>
                    <input type="submit" value="Submit Zebras"/>
                </form>
            </div>
            <br/>
            <div th:object="${allAccounts}">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Balance</th>
                            <th>Animal Type</th>
                            <th>King</th>
                            <th>Good or Bad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="account : *{accountList}">
                            <td th:text="${account.name}"></td>
                            <td th:text="${account.balance}" class="currency"></td>
                            <td th:text="${account.animalType}"></td>
                            <td th:if="${account.isKing()}">
                                <p class="king">A king</p>
                            </td>
                            <td th:unless="${account.isKing()}">
                                <p>Not a king</p>
                            </td>
                            <td th:if="${account.isGood()}">
                                <p>Good guy</p>
                            </td>
                            <td th:unless="${account.isGood()}">
                                <p>Bad guy</p>
                            </td>
                        </tr>
                        <tr>
                            <form action="#" th:action="@{show_accounts}" method="post" th:object="${newAccount}">
                                <td>
                                    <input type="text" th:field="*{name}" value="Name" />
                                </td>
                                <td>
                                    <input type="text" th:field="*{balance}" value="Balance"/>
                                </td>
                                <td>
                                    <input type="text" th:field="*{animalType}" value="Animal Type" />
                                </td>
                                <td>
                                    <input type="text" th:field="*{isKing}" value="True or False" />
                                </td>
                                <td>
                                    <input type="text" th:field="*{isGood}" value="True or False"/>
                                </td>
                                <td>
                                    <input type="submit" value="Submit Account" />
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </body>
    </html>