<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8"/>
            <link rel="stylesheet" href="style.css"/>
            <title>Bank Accounts</title>
        </head>
        <body>
            <h1>Bank Accounts</h1>
            <!--<div class="loginForm">-->
                <!--<form action="#" th:action="@{show_accounts}" method="post" th:object="${BankAccount}">-->
                    <!--<label for="account_name">Name: </label>-->
                    <!--<input  type="text" id="account_name" th:/><br>-->
                    <!--<input type="submit" value="Submit Zebras"/>-->
                <!--</form>-->
            <!--</div>-->
            <br/>
            <div th:object="${allAccounts}">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Balance</th>
                            <th>Animal Type</th>
                            <th>King</th>
                            <th>Good or Bad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="account : *{accountList}">
                            <td th:text="${account.name}"></td>
                            <td th:text="${account.balance}" class="currency"></td>
                            <td th:text="${account.animalType}"></td>
                            <td th:if="${account.king}">
                                <p class="king">A king</p>
                            </td>
                            <td th:unless="${account.king}">
                                <p>Not a king</p>
                            </td>
                            <td th:if="${account.goodguy}">
                                <p>Good guy</p>
                            </td>
                            <td th:unless="${account.goodguy}">
                                <p>Bad guy</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form action="#" th:action="@{/show_accounts}" method="post" th:object="${newAccount}">
                <input type="text" th:field="*{name}"/>
                <input type="text" th:field="*{balance}"/>
                <input type="text" th:field="*{animalType}"/>
                <input type="text" th:field="*{king}"/>
                <input type="text" th:field="*{goodguy}"/>
                <input type="submit" value="Submit Account" />
            </form>
        </body>
    </html>