body {
    background-color: gainsboro;
}

.login {
    margin: auto;
    margin-top: 30px;
    width: 35%;
    padding-top: 30px;
    padding-left: 50ppx;
    padding-bottom: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
    background-color: white;
    
}

form {
    font-size: 10px;
}

form input {
    width: 80%;
    height: 35px;
    border-radius: 3px;
    border: 1px solid gainsboro
}

.submitbutton {
    height: 30px;
    width: 100px;
    background-color: 	gray;
    color: white
}