<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Information</title>
    </head>
    <body>
        <ul>
            <li><a href="">Information</a></li>
            <li><a href="/nutrition_store">Nutrition Store</a></li>
            <li><a href="/trick_center">Trick Center</a></li>
            <li><a href="/action_history">Action History</a></li>
        </ul>
        <img src="greenfox.png"/>
        <div th:object="${fox}">
            <p th:text="'This is ' + *{getName()} + '.'"></p><p th:text="'Currently living on ' + *{getFood()} + ' and ' + *{getDrink()} + '.'"></p>
            <p th:text="'He currently knows ' + *{getTricks().size()} + ' trick(s).'"></p>
            <h1>Known Tricks</h1>
            <ul>
                <li th:each="trick : *{getTricks()}" th:text="${trick.getTrickName()}"></li>
            </ul>
            <p th:text="'The value of these tricks (therefore the value of your fox) is: ' + ${trickValue} + '.'"></p>
        </div>
    </body>
</html>