<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Nutrition Store</title>
    </head>
    <body>
        <ul>
            <li><a href="">Information</a></li>
            <li><a href="/nutrition_store">Nutrition Store</a></li>
            <li><a href="/trick_center">Trick Center</a></li>
            <li><a href="/action_history">Action History</a></li>
        </ul>
        <div th:object="${fox}">
        </div>
    </body>
</html>