<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Trick Center</title>
    </head>
    <body>
        <ul>
            <li><a href="">Information</a></li>
            <li><a href="/nutrition_store">Nutrition Store</a></li>
            <li><a href="/trick_center">Trick Center</a></li>
            <li><a href="/action_history">Action History</a></li>
        </ul>
        <div>
            <form action="#" th:action="" method="post" >
                <!--itt fog kapni egy rokat amit tovabbad submitnak-->
                <select>
                    <option th:each="trick : ${tricks}" th:text="${trick.getTrickName()}"></option>
                </select>
                <!--itt meg kell irni a field (v name)-et...vagy optionben?-->
                <input type="submit" value="Learn Trick"/>
            </form>
        </div>
    </body>
</html>